<!DOCTYPE html>
<html lang="en" class="csstransforms no-csstransforms3d csstransitions" style="overflow: hidden;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:image" content="http://www.itemhound.com/images/img/logoihsport.png" />

  <title>IHSports</title>
  
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon/ihsports.png" />
  <link rel="stylesheet" href="ihsports/fonts/iconstyle.css" />
  <link rel="stylesheet" href="ihsports/css/bootstrap.css" />
  <link rel="stylesheet" href="ihsports/css/fonts.css" />  
  <link rel="stylesheet" href="ihsports/css/font-awesome.min.css" />
  <link rel="stylesheet" href="ihsports/css/superslides.css" />    
  <link rel="stylesheet" href="ihsports/css/animations.css" />
  <link rel="stylesheet" href="ihsports/css/magnific-popup.css" />
  <link rel="stylesheet" href="ihsports/css/animate+animo.css" />

  <link rel="stylesheet" href="ihsports/css/style.css" />
</head>

<body style="display: block;" data-spy="scroll" data-target='#navbar' data-offset="70">

<!-- NavigateTo Navbar -->
  <div id="navbar" class="navbar navbar-inverse">
    <div class="fixed-container">      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home"><img src="images/logo/ihsportlogo-complete.png" class="brand-img"></a>
      </div>
      <div class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">
          <li><a href="#about"><i class="fa fa-user"></i> &nbsp; About Us</a></li>
          <li class="dropdown">
            <a href="#service" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-gears"></i>
              &nbsp; What We Do <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role='presentation'> <a role='menuitem' tabindex='-1' href="#reganddata"> Registration and Data Management </a> </li>
              <li > 
                <a href="#racetiming"> Race Timing Solutions </a> 
              </li>
              <li> <a href="#socialexp"> Athlete's Social Experience  </a> </li>
            </ul>
          </li>
          <li><a href="#clients"><i class="fa fa-briefcase"></i>&nbsp; Clients</a></li>
          <li><a href="#contacts"><i class="fa fa-map-marker"></i>&nbsp; Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>

<!-- NavigateTo Header -->
  <section id="home" class="parallax-bg1 sports parallax sbgcolor clearfix" style="min-height: 694px; background-position: 50% 0px; font-family:source-sans-pro">
    <div class="row-fluid dark content container" style="margin-top: 97px;">
      <h1 class="home-title"> IH Sports </h1>
      <h2> Social Racing </h2>
      <br> <br>
      <button class="btn-trans"><a class="scroll" href="#about">Learn More</a></button>
    </div>      
  </section>

<!-- NavigateTo About -->
  <section id="about" class="parallax-bg2 parallax sbgcolor sports clearfix" style="min-height: 694px; background-position: 50% 331px;">
  <div class="row-fluid content container" style="margin-top: 97px;">
    <img class="img-responsive animated about-logo" data-appear-top-offset="100" data-animation="bounceIn" src="images/logo/ihsportlogo.png" alt="IHSports Logo">
    <br> <br> <br>
      <h1 style="font-size: 45px;">IH Sports</h1>
      <div class="hr-circle">
        <div class="hr-inner">
          <span class="hr-inner-style">
          </span>
        </div>
      </div>
      <p class="page-title">Whether on foot or on wheels, IH Sports can provide (you) the most efficient race solution in the country. Handle your race from end to end with IH Sports products and services – from registration and data management to race timing and comprehensive results for a complete athlete's experience. IH Sports provides race timing with social media integration. We deliver fast, accurate results for fun runs, marathons, cycling, duathlons and triathlons, as well as motorcycle and motocross races, and karting. See, share and compare these results with friends and keep record of previous races.</p>
    </div>
  </section>
    
<!-- NavigateTo Service -->
  <section id="service" class="parallax-bgc parallax sports sbgcolor clearfix">
    <div class="row-fluid dark content container">
      <h1 style="font-size: 45px;">What We Do</h1>  
        <div class="hr-circle">
          <div class="hr-inner">
            <span class="hr-inner-style"></span>
          </div>
        </div>
      <br> <br>
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="process-box animated" data-animation="fadeInUp">
            <img src="images/ihsports/runner1-c.png" class="service-logo-border service-logo">
            <br> <br>
            <h3>Registration and Data Management</h3>
            <p class="page-title service-text justify">Have a fast and hassle-free registration for your race. No need for extra staff to facilitate registration, let IH Sports handle it all online and on-site. We revolutionize race events for both participants and organizers by giving a more efficient, easier and paperless registration process.  </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">            
          <div class="process-box animated" data-animation="fadeInUp">
             <img src="images/ihsports/runner2.png" class="service-logo-border service-logo">
             <br> <br>
            <h3>Race Timing Solution</h3>
            <p class="page-title service-text justify">IH Sports produces race timing systems for running, cycling, swimming and motorsports – going from human jogging speeds of 10kph to a bicycle sprint finish of 60kph to a grand prix lap finish of 180kph. We deliver fast, accurate results for fun runs, marathons, cycling, duathlons and triathlons, as well as motorcycle and motocross races, and karting. Applications integrated to social media platforms like Facebook and Twitter have also been developed to allow clients to market their brand or event in a wider audience.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">            
          <div class="process-box animated" data-animation="fadeInUp">
            <img src="images/ihsports/runner3-c.png" class="service-logo-border service-logo">            
            <br> <br>
            <h3>Athlete's Social Network</h3>
            <p class="page-title service-text justify">Racing events are inherently social. IH Sports enhances that experience by generating personal content that’s worth sharing.  </p>
          </div>
        </div>

      </div>
    </div>
  </section>

<!-- NavigateTo RegData -->
  <section id="reganddata" class="parallax-bg2 sports-over parallax sbgcolor clearfix" style="min-height: 694px;">
    <div class="row-fluid content container" style="margin-top: 97px;">
        <h1 style="font-size: 45px;">Registration and Data Management</h1>
        <div class="hr-circle">
          <div class="hr-inner">
            <span class="hr-inner-style"></span>
          </div>
        </div>
        <p class="page-title"> </p>
        <br> <br>
        <div class="row clearfix">
          <div class="col-xs-12 col-xs-push-12 col-sm-12 col-md-6 col-lg-6 animated" data-animation="fadeInLeft" style="text-align:left">
            <div id="" class="row first-choice">
              <div class="col-xs-12 col-xs-push-12 col-sm-2 col-md-2 col-lg-2">
                <img src="images/ihsports/iconreg.svg" class="service-icon">
              </div> 
              <a href="#ihsports-registration"><div class="col-xs-12 col-xs-push-12 col-sm-8 col-md-8 col-lg-8">
                <h3>REGISTRATION</h3>
                <p class="page-title"> Reduce extra work. Registration is online and uses unique activation code per race per participant. </p>
              </div> </a>
            </div>
            <div id="" class="row second-choice">
              <div class="col-xs-12 col-xs-push-12 col-sm-2 col-md-2 col-lg-2">
                <img src="images/ihsports/icondata.svg" class="service-icon">
              </div> 
              <a href="#ihsports-datamanagement"> <div class="col-xs-12 col-xs-push-12 col-sm-8 col-md-8 col-lg-8">
                <h3>DATA MANAGEMENT</h3>
                <p class="page-title"> Maximize registration and drive participants to your event via social media. And we can provide targeted demographics. </p> 
              </div> </a>
            </div>
          </div>
          <div class="col-xs-12 col-xs-pull-12 col-sm-12 col-md-6 col-lg-6 animated hidden-xs" data-animation="fadeInRight" style="">
              <img class="service-img reg" src="images/ihsports/myruntimereg.jpg" alt="MyRunTime Registration" style="position:absolute; top:0; left:0" />
              <img class="service-img graph" src="images/ihsports/myruntimegraph (2).jpg" alt="MyRunTime Registration" style="position:absolute; top:0; left:0" />  
          </div>
        </div>
    </div>
  </section>

  <!-- NavigateTo RaceTiming -->
  <section id="racetiming" class="parallax-bg2 sports-over parallax sbgcolor clearfix" style="min-height: 694px;">
    <div class="row-fluid content container" style="margin-top: 97px;">
        <h1 style="font-size: 45px;">Race Timing Solution</h1>
        <div class="hr-circle">
          <div class="hr-inner">
            <span class="hr-inner-style"></span>
          </div>
        </div>
        <p class="page-title"> </p>
        <br> <br>
        <div id="strider" class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-md hidden-sm hidden-lg">
            <img class="sports-img" src="images/ihsports/topbg5.jpg">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 service-p">
            <img src="images/ihsports/striderlogo.png" class="img-responsive service-logo" />
            <p class="page-title justify">Itemhound developed the Strider system for running events, catering to high volume races such as marathons and small fun runs alike. The system can capture up to 200 detections per second, easily detecting everyone that passes through the timing line. <br /> <br /> Strider performs well in road races, in trail and mountain courses, and even in obstacle course challenges.</p> 
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs">
            <img class="sports-img" src="images/ihsports/topbg5.jpg">
          </div>
        </div>
        <div id="sprint" class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top: 40px">
            <img class="sports-img" src="images/ihsports/sprint.JPG">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 service-p">
            <img src="images/ihsports/sprint-logo.png" class="img-responsive service-logo" />
            <p class="page-title justify"> Itemhound developed the Sprint system for cycling tours and is capable of capturing high speed and high volume races. The system is designed for circuit and point to point races, whether on or off the road. Sprint Cycling System has been used for numerous cycling events here in the Philippines, including one of the biggest cycling event in the country with more than 3,000 riders. <br /> <br /> Sprint is integrated with the Strider system for duathlons and triathlons.</p>
          </div>
        </div>
        <div id="racer" class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-md hidden-sm hidden-lg">
              <img class="sports-img" src="images/ihsports/racer1.jpg">
            </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 service-p">
            <img src="images/ihsports/racer-outline.png" class="img-responsive service-logo" />
            <p class="page-title justify"> Racer is a motorsport timing system designed for closed-circuit motor racing. Deviating from the rather expensive transponder system which has long been the bane of organizers, Racer uses disposable timing tags that are economical and easily replaced when a rider accidentally damages or loses the tag. <br /> <br /> Racer has been the official timing system of the Yamaha GP One Make Race series for three consecutive years and was the official timing partner of the Yamaha ASEAN Cup 2012.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs">
            <img class="sports-img" src="images/ihsports/racer1.jpg">
          </div>
        </div>
    </div>
  </section>

<!-- NavigateTo Social -->
  <section id="socialexp" class="parallax-bg2 sports-over parallax sbgcolor clearfix" style="min-height: 694px;">
    <div class="row-fluid content container" style="margin-top: 97px;">
      <h1 style="font-size: 45px;">Athlete's Social Experience</h1>
      <div class="hr-circle">
        <div class="hr-inner">
          <span class="hr-inner-style"></span>
        </div>
      </div>
      <p class="page-title"> </p>
      <br> <br>
      <div id="strider" class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-md hidden-lg">
          <img class="" src="">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <img src="images/logo/myruntimelogo.png" class="img-responsive service-logo" />
          <p class="page-title justify">Be an instant athlete. With our complete and comprehensive race results, you can track all your race performance over time. MyRunTime is not simply about race results and PRs and Gun Times. MyRunTime is about performance - tracking ALL your race results. MyRunTime is about community - the ability to easily see your race results and compare them with your friends'. <br /> <br /> <i> Photobooth </i> <br/>Tired of searching through thousands of pictures for just one photo? Our RFID enabled photobooth reads your bib number and automatically links your pictures to your Facebook account. All your pictures get uploaded on your timeline. We also have roving photographers in every event to capture those awesome finisher moments. All pictures we take are available for download at the MyRunTime website. <br /> <br /> Visit <a href="http://www.myrunti.me"> http://myrunti.me </a> for more. </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs hidden-sm">
          <div class="row">
            <div id="myCarousel3" class="carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                  <img class="myruntimeslider" src="images/ihsports/myruntimeresults.PNG">
                </div>
                <div class="item">
                  <img class="myruntimeslider" src="images/ihsports/race.JPG">
                </div>
                <div class="item">
                  <img class="myruntimeslider" src="images/ihsports/myruntimebooth.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </section>

  <section id="clients" class="parallax-bg3 sports-over parallax sbgcolor clearfix" style="min-height: 300px;">
    <div class="row-fluid content container" style="margin-top: 97px; margin-bottom: 50px">
       <h1 style="font-size: 45px; color:#3d3d3d">TRUSTED BY THE BEST</h1>
       <p class="page-title"> IHSports products and services have been tested by the following: </p>
       <br /> <br /> <br />
        <div toggleClass="">
          <div class="row">
            <div id="myCarousel2" class="carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/gcim.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/asean-cup.png' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/baguio21k.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/boholmarathon.jpg' ></div>
                </div>
                <div class="item">
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/pinkrun.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/arawngdabaw.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/Dole.png' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/duaman-banner.jpg' ></div>
                </div>
                <div class="item">
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/mbcbanner.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/columbia-pinatubo.png' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/giantcupbanner.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/hyundairun.png' ></div>
                </div>
                <div class="item">
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/ironkids.png' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/earthrun.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/merrell.png' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/natgeorun.png' ></div>
                </div>
                <div class="item">
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/xasmmf.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/nike.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/bullrun.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/r2r.jpg' ></div>
                </div>
                <div class="item">
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/repsol.png' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/run800.png' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/runhappy.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/runsafety.png' ></div>
                </div>
                <div class="item">
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/slimmerun2013banner.png' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/tour700.png' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/newbalance.jpg' ></div>
                  <div class="col-xs-3"><img class="logosclients" src='images/clients/yamahagp.png' ></div>
                </div>
              </div>
            </div>
          </div>  
        </div>  
      </div>
  </section>

  <section class="parallax parallax-bg4 sports-over sbgcolor clearfix" style="min-height: 300px;">
    <div class="row-fluid content container" style="margin-top: 97px; margin-bottom:50px">
      <h1 style="font-size: 45px; color:#EBE69E; text-shadow: 1px 1px #3d3d3d"> BE OUR PARTNER! </h1> <br /> <p class="page-title" style="color:#fefefe">We continue to innovate and work with our partners to lead in providing and developing more for race participants. Ask around and you’ll find out that IH Sports offers very competitive prices while providing value unmatched by the competition. <br /> Be our partner organizer and experience world-class! </p>
    </div>  
  </section>

<!-- NavigateTo Contacts -->
  <section id="contacts" class="parallax sbgcolor sports clearfix">
    <div class="row" style="margin-top:97px">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro intro-contact">
        <h1 style="color: #d2ca5b; letter-spacing: -0.03em; font-weight: bold; font-weight: 100; font-family: source-sans-pro, sans-serif; opacity: 1; padding-top: 0px; text-align:center" class="contact-h1">Contact us</h1>
        <hr>
      </div>
    </div>
    <div class="row" style="text-align:center">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="contact-info">
          <div class="row">
            <div class="col-sm-4 contact">
              <div class="icon">
                <a><i class="fa fa-envelope fa fa-3x"></i></a>  
              </div>
              <p class="bigfont"> Sales <br>
                      sales@itemhound.com <br>
                      Careers <br>
                      careers@itemhound.com <br> 
                      Inquiries <br>
                      info@itemhound.com <br>
                    </p>   
            </div>
            <div class="col-sm-4 contact">
              <div class="icon">
                <a href="http://maps.google.com/maps?near=Rarejob+Philippines,+Inc.,+Fil+Garcia+Tower,+Kalayaan+Ave,+Quezon+City+1100,+Philippines&amp;geocode=CdzcPCfPBiJIFXF-3wAd5Rw3Byk31bZ1DLeXMzGIYPkCTApCPQ&amp;q=itemhound&amp;f=l&amp;sll=14.646897,121.052389&amp;sspn=0.007443,0.013078&amp;ie=UTF8&amp;hq=itemhound&amp;hnear=&amp;t=m&amp;cid=9625843554234018901&amp;ll=14.660655,121.054058&amp;spn=0.029063,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed" targe="_blank"><i class="fa fa-map-marker fa fa-3x"></i></a> 
              </div>
              <p class="bigfont">Itemhound Corp.<br>
                Unit 703 Fil-Garcia Tower, <br>
                      140 Kalayaan Avenue corner Mayaman Street, <br> 
                      Diliman, Quezon City, <br>
                      Philippines ‎1100 <br>
                    </p>  
            </div>
            <div class="col-sm-4 contact">
              <div class="icon">
                <a><i class="fa fa-phone fa fa-3x"></i></a> 
              </div>
              <p class="bigfont">+63 387 6883</p>
              <div id="social-profiles">
                <ul class="centerUl">
                  <li><a><i class="fa fa-facebook fa fa-2x"></i></a></li>
                  <li><a href="https://twitter.com/myruntime" target="_blank"><i class="fa fa-twitter fa fa-2x"></i></a></li>
                  <li><a><i class="fa fa-instagram fa fa-2x"></i></a></li>
                </ul>
                <p class="bigfont">facebook.com/ihsports <br>
                  @ihsports <br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <br>
      <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?near=Rarejob+Philippines,+Inc.,+Fil+Garcia+Tower,+Kalayaan+Ave,+Quezon+City+1100,+Philippines&amp;geocode=CdzcPCfPBiJIFXF-3wAd5Rw3Byk31bZ1DLeXMzGIYPkCTApCPQ&amp;q=itemhound&amp;f=l&amp;sll=14.646897,121.052389&amp;sspn=0.007443,0.013078&amp;ie=UTF8&amp;hq=itemhound&amp;hnear=&amp;t=m&amp;cid=9625843554234018901&amp;ll=14.660655,121.054058&amp;spn=0.029063,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
  </section>

<!-- NavigateTo Scripts -->
  <script src="ihsports/js/jquery.js" style=""></script>
  <script src="ihsports/js/bootstrap.min.js"></script>
  <script src="ihsports/js/retina.min.js"></script> 
  <script src="ihsports/js/jquery.nicescroll.min.js"></script>
  <script src="ihsports/js/parallax.js"></script> 
  <script src="ihsports/js/jquery.scrollto.js"></script>
  <script src="ihsports/js/jquery.appear.js"></script>    
  <script src="ihsports/js/animo.js"></script>
  <script src="ihsports/js/jquery.superslides.min.js"></script>
  <script src="ihsports/js/jquery.easing.js"></script>
  <script src="ihsports/js/jquery.fittext.js"></script>
  <script src="ihsports/js/jquery.localscroll.js"></script>

  <script src="ihsports/js/main.js"></script>
</body>
</html>